<!-- <header class="dashboard-header">
	<h1 class="text-center">Your Dashboard</h1>
</header> -->

<div class="dashboard-wrapper anim-fade-in">
	<div class="dashboard-tile tl">
		<hr />

		<div class="errors">
			<% if flash[:edit_user_errors] %>
			<ul>
			<% flash[:edit_user_errors].each do |e| %>
				<li> <%= e %> </li>
			<% end %>
			</ul>
		<% end %>
		</div>
			
		<%= form_for @user do |u| %>
		<div class="align-topdown">
		
			<p>
				<h4>Your Photo:</h4>
				<%= u.label :photo %>
				<%= u.file_field :photo, class: "form-control-file" %>
			</p>
			<p></p>
			<p>
				<h4>Change Password:</h4>
				<div class="form-register">
					<%= u.label :password %>
					<%= u.password_field :password, placeholder: 'New password (min. 6 characters)', class: "top-form-field form-control" %>
					<%= u.label :password_confirmation %>
					<%= u.password_field :password_confirmation, placeholder: 'Retype the password', class: "form-control bottom-form-field" %>
				</div>
			</p>
			<p class="text-center">	
				<%= u.submit "Update", class: "btn-anim btn-drk anim-span" %>
			</p>
			
		</div>
		<% end %> 


	</div>

</div>



<h1 class="text-center">_</h1>

