<!-- <header class="dashboard-header">
	<h1 class="text-center">Your Dashboard</h1>
</header> -->

<div class="dashboard-wrapper anim-fade-in">
	<div class="dashboard-tile tl">
		<hr />
		<h4>Your Photo:</h4>
		
		<div class="align-topdown">
			<div class="!not-implemented-yet dashboard-img text-center">
				<!-- <img class="img img-fluid rounded-circle" src="https://avatars0.githubusercontent.com/u/24384407?s=460&v=4"> -->
				<% if current_user.photo.attached? %>
					<%= image_tag current_user.photo, class: "img img-fluid rounded-circle" %>
				<% else %>
				 	<p>Not uploaded yet</p>
				<% end %>
			</div>
			<!-- <hr /> -->
			<div class="text-center">
				<a href="/users/<%= current_user.id %>/edit">
					<button class="btn-anim btn-drk anim-span" type="button">Settings</button>
				</a>
			</div>	
		</div>
	</div>

	<div class="dashboard-tile tr list-oveflow">
		<hr />
		<h4>Your posts:</h4>
		<!-- <div class="list-oveflow"> -->
		<% if @current_user_posts.length > 0 %>
			<ul class="dashboard-post-list">
				<% @current_user_posts.each do |p|  %>
					<li>
						<p>
							- <a class="" href="/posts/<%= p.id %>">
								<% if p.title.length > 30 %>
									<em><%= p.title[0,31]+'...' %></em>
								<% else %>
									<em><%= p.title%></em>
								<% end %>
							</a>
						</p>
						<p><sup><%= p.updated_at %></sup></p>
					</li>
				<% end %>
			</ul>
		<% else %>
			<h5>You have no posts yet.
			<%= link_to "Go cook some!", { controller: 'posts', action: 'new' } %></h5>
		<% end %>
		<!-- </div> -->
	</div>	

	<div class="!not-implemented-yet dashboard-tile bl">
		<hr />
		<h4>Your Bio:</h4>
		<strong>/not-implemented-yet/</strong>
		<div class="align-topdown ">
			<div class="dashboard-bio text-center">
				
				<div contenteditable="true">
					Few words about you go here
				</div>

			</div>
			<hr />

			<div class="text-center">
				<input class="btn-anim btn-drk anim-span" type="submit" name="test" value="Edit">
			</div>	
		</div>
		
	</div>

	<div class="!not-implemented-yet dashboard-tile br">
		<hr />
		<h4>Your friends:</h4>

		Do you have any?
		<strong>/not-implemented-yet/</strong>
		
	</div>

</div>



<h1 class="text-center">_</h1>

<%  %>
